<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<html>
  <head>
    <title>MY PROJRCT</title>

  <link rel="stylesheet" href="./app.component.scss">
  </head>
<body>
<!-- Routing -->
<ul class="bx-nav" >
  <h1>LOGO</h1>
 
<a  href= " " >Home</a>
<a  href= "About" >About</a>

<a  href= "Contact" >Contact</a>

<a  href= "Product" > Product </a></ul>



<router-outlet></router-outlet>
<div class="bx-footer">
<p>Privacy Policy  |  Teams of Use  |  Cookie Policy </p>
<p>Copyright &copy; 2022 - 2023 </p>
</div>

</body></html>